<?php
defined('APP_PATH') or exit('No direct script access allowed');

require_once( APP_PATH .'/src/core/Log.php');
require_once( APP_PATH .'/apps/Sync_Customers.php');


class App {

    public function __construct()
    {
        // silence is golden
    }

    public function run()
    {
        $db_customers = new Sync_CustomersTest();
        $db_customers->get_my_customer();
    }

}
